<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="mySessionFactory">
  <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
  <property name="hibernate.connection.url">jdbc:oracle:thin:@59.41.103.102:384:orclsit</property>
  <property name="hibernate.connection.username">avptxn</property>
  <property name="hibernate.connection.password">avptxn</property>
  <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.use_sql_comments">true</property>
  <property name="hibernate.format_sql">true</property>
  <mapping class="com.icitic.avp.bean.hbm.pojo.IcSysPara"/>
  <mapping class="com.icitic.avp.bean.hbm.pojo.Terminal"/>
  <mapping class="com.icitic.avp.bean.hbm.pojo.ProductBusiness"/>
  <mapping class="com.icitic.avp.bean.hbm.pojo.ProductBusinessId"/>
  <!-- 
    使用hibernate tools 的HQL出错，如果配置了缓存
  <property name="hibernate.cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider</property>
   -->
 </session-factory>
</hibernate-configuration>
